.background-container {
  display: flex;
  /* height: 1440px; */
  height: 79vh;
  width: 1095px;
  /* border: none; */
  padding: 0;
  margin: 0;
  /* background-color: black; */
  background-image: url("../../assets/images/Group_18994.png");
  background-repeat: no-repeat;
  background-size: cover;
   /* added here */
   border-radius: 30px;
   border: 4px solid #ffffff61;
   overflow: hidden;
}

.thumbsup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust if needed */
  height: 85%; /* Adjust if needed */
}

.thumbsupimg {
  width: 300px; /* Desired width */
  height: 300px; /* Desired height */
  background-image: url("../../assets/images/Group_18889.png");
  background-size: cover; /* Cover the entire element */
  background-repeat: no-repeat; /* Prevent background image repetition */
  background-position: center; /* Center the background image */
}

.amazing {
  background-image: url("../../assets/images/Group18890.png");
  background-size: cover; /* Cover the entire element */
  background-repeat: no-repeat; /* Prevent background image repetition */
  background-position: center; /* Center the background image */
  margin-left: 8px;
  margin-top: 30px;
  width: 235px;
  height: 60px;
}

/* .remark {
  margin-left: -20px;
    margin-top: 45px;
    width: 1000px;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 40px;
} */
.remark {
  margin-left: -20px;
  margin-top: 45px;
  width: 1000px;
  height: 90px; /* Increased to accommodate the possibility of two lines */
  text-align: center;
  color: white;
  font-size: 40px;
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  line-height: 1.5; /* Adds space between lines */
}

