.secondmain {
  display: flex;
  height: 79vh;
  background-image: url("../../assets/images/second_left.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 4px solid #ffffff61;
  border-left: 4px solid #ffffff61;
  border-bottom: 4px solid #ffffff61;
  overflow: hidden;
}

.heading {
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  height: 170px;
  width: 893px;
  margin-left: 100px;
}

.heading .subhead1 {
  margin-top: 105px;
  margin-bottom: 10px;
}

.heading .subhead1 h3 {
  font: normal normal bold 28px/28px;
  color: #D8FDFF;
  font-weight: bold;
  font-size: 50px;
}

.heading .subhead2 {
  font-size: 40px;
  color: #FFFFFF;
  font-family: Nunito Sans, Regular;
  margin: 35px 0px;
}

.mainbody {
  padding: 20px;
  border-radius: 5px;
  margin-top: 260px;
  margin-left: 100px
}

.mainbody .demo-container {
  width: 1000px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 55px;
}

.mainbody .demo-container .demo-box {
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 300px;
  max-width: 100%;
  background-color: #494949;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.mainbody .demo-container .demo-box label {
  font-family: Nunito Sans, Bold;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 25px;
}

.mainbody .demo-container .demo-box h4 {
  margin-top: 10px;
  font-family: Nunito Sans, Regular;
  font-size: 40px;
  color: #0E1014;
  margin-bottom: 20px;
}

.mainbody .demo-container .demo-box .rating-stars {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.mainbody .demo-container .demo-box .rating-stars span {
  cursor: pointer;
  font-size: 60px;
  color: white;
  margin-right: 30px;
}

.mainbody .demo-container .demo-box .rating-stars span.gold {
  color: #FF8800;
}

.info-symbol {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  font-size: 3.5em;
  color: #FFFFFF;
}

.info-symbol:hover::after {
  font-size: 27px;
  content: attr(title);
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  top: -45%;
  left: 550%;
  transform: translateX(-50%);
  white-space: normal;
  width: 355px;
  z-index: 1000;
  opacity: 0.9;
  font: normal normal normal Nunito Sans;
  text-align: left;
}