.secondmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  background-image: url("../../assets/images/second_left.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  margin-left: 200px;
  font-size: 30px;
  color: white;
  margin-top: -300px; /* Adjust margin top for spacing */
}

.demo-container {
  width: 800px;
  height: 300px;
  margin-left: 140px;
  margin-top: 20px; /* Adjust margin top for spacing between containers */
  padding: 20px;
}

.demo-box {
  /* display: flex; */
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 40px;
  width: 800px; 
  height: 300px;
  max-width: 100%; /* Adjust to make responsive */
  background-color: white;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

label {
  font-size: 60px;
  color: black;
  margin-bottom: 25px; /* Adjust margin bottom for spacing */
}

h4 {
  font-size: 40px;
  color: black;
  margin-bottom: 20px; /* Adjust margin bottom for spacing */
  
}

.rating-stars {
  display: flex;
  align-items: center;
}

.rating-stars span {
  font-size: 60px;
  cursor: pointer;
  border-color: black;
  color: white; /* Default star color */
  margin-right: 30px; 
  /* Add right margin to create space between stars */
}

.rating-stars span.gold {
  color: #FF8800; /* Active star color */
}
