.background-container {
  display: flex;
  height: 79vh;
  width: 1100px;
  background-image: url("../../assets/images/Group_left.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 4px solid #ffffff61;
  border-left: 4px solid #ffffff61;
  border-bottom: 4px solid #ffffff61;
  overflow: hidden;
}
