

.background-container {
    display:flex;
    height: 1436.35px;
    width: 1096px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: black;
    background-image: url("../../assets/images/Group_left.png"); 
    background-repeat: no-repeat;
    background-size: cover;

  }
/* 
  .background-Image{
    background-image: url("../../assets/images/Group 18997.png");
    background-size: cover;
    height: 104%;
    width: 100%;
  }
  
   */