body {
  height: 100%;
  margin: 0;
  background:  url('../assets/img/background_image.jpg');
  overflow: hidden;
}

.wrapper {
  top: -16px;
  left: -139px;
  width: 100vw;
  height: 100vh;
}

#logo {
  background-image: url("../assets/images/LivingLab_Logo.png");
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
  background-size: cover;
  background-repeat: no-repeat; 
}

#logo-container {
  margin-top: 76px;
  margin-left: 280px;
  background-size: 450px;
  width: 450px;
  height: 80px;
}

#logo.visibleLogo {
  background-size: 450px;
  width: 450px;
  height: 80px;
}

#logo.visibleLogo {
  display: block;
}

#text-page1 {
  background-image: url("../assets/img/Visitor_book.png");
  position: absolute;
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
}

#text-container-page1 {
  margin-top: 76px;
  margin-left: 280px;
  background-size: 450px;
  width: 450px;
  height: 80px;
  z-index: -1;
}

#text-page1.visibleTextPage1 {
  background-size: 675px;
  width: 674px;
  height: 125px;
  margin-top: 655px
}

#text-page1.visibleTextPage1 {
  display: block;
}

#text-page6 {
  background-image: url("../assets/img/Visitor_book.png");
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
}

#text-container-page6 {
  margin-left: 1800px;
  background-size: 450px;
  width: 450px;
  height: 80px;
  z-index: -1;
}

#text-page6.visibleTextPage6 {
  position: absolute;
  background-size: 675px;
  width: 674px;
  height: 125px;
  margin-top: 655px;
}

#text-page6.visibleTextPage6 {
  display: block;
}

.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}

.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -100px;
}

.flipbook {
  position: absolute;
  margin-left: 10%;
  margin-top: -65px;
  width: 1800px;
  height: 1440px;
  border-radius: 30px;
}

#flipbook.visible {
  box-shadow: 11px 11px 20px 0px #888888;
}