body {
  /* background-color: #c9c5ef; */
  height: 100%;
  margin: 0;
  background:  url('../assets/img/background_image.jpg');
  /* Adjusted background-size */
  overflow: hidden;
}


.container {
  padding: 20px;
}


.page .container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 5px 20px;
  /* margin-bottom: 5%; */
}

.wrapper {
  /* Layout Properties */
  top: -16px;
  left: -139px;
  width: 100vw;
  /* Change to viewport width */
  height: 100vh;
  /* Change to viewport height */
  /* UI Properties */
  /* background: transparent url('../assets/images/Mask Group 10549.png') 0% 0% / cover no-repeat padding-box; /* Adjusted background-size */
  /* border-radius: 16px; */
  /* opacity: 0.81; */
  /* backdrop-filter: blur(43px); */
  /* -webkit-backdrop-filter: blur(43px); */
}

#logo {
  background-image: url("../assets/images/LivingLab_Logo.png");
  /* margin-top: 105px;
  margin-left: 465px; */
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
  background-size: cover; /* Cover the entire element */
  background-repeat: no-repeat; /* Prevent background image repetition */
}

#logo-container {
  margin-top: 76px;
  margin-left: 280px;
  background-size: 450px;
  width: 450px;
  height: 80px;
}

#logo.visibleLogo {
  background-size: 450px;
  width: 450px;
  height: 80px;
}

#logo.visibleLogo {
  display: block;
}


#text-page1 {
  background-image: url("../assets/img/Visitor_book.png");
  position: absolute;
  /* margin-top: 105px;
  margin-left: 465px; */
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
}

#text-container-page1 {
  margin-top: 76px;
  margin-left: 280px;
  background-size: 450px;
  width: 450px;
  height: 80px;
  z-index: -1;
}

#text-page1.visibleTextPage1 {
  background-size: 675px;
  width: 674px;
  height: 125px;
  margin-top: 655px
}

#text-page1.visibleTextPage1 {
  display: block;
}


#text-page6 {
  background-image: url("../assets/img/Visitor_book.png");
  /* margin-top: 105px;
  margin-left: 465px; */
  background-size: 450px;
  width: 450px;
  height: 80px;
  display: none;
}

#text-container-page6 {
  /* margin-top: 76px; */
  margin-left: 1800px;
  background-size: 450px;
  width: 450px;
  height: 80px;
  z-index: -1;
}

#text-page6.visibleTextPage6 {
  /* background-size: 450px; */
  position: absolute;
  background-size: 675px;
  width: 674px;
  height: 125px;
  margin-top: 655px;
}

#text-page6.visibleTextPage6 {
  display: block;
}


.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}


.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -100px;
}


.flipbook {
  /* position: fixed; */
  /* transition: margin-left 0.25s ease-out; */

  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10%;
  margin-top: -65px;
  width: 1800px;
  height: 1440px;

  /* added here */
  border-radius: 30px;




}


.flipbook .page {
  /* background: #eee; */
  position: absolute;
  top: 0;
  right: 0;
  width: 1800px;
  height: 1440px;
  /* border: 2px solid white;
  border-radius: 30px; */
  /* border-radius: 5px 5px 5px 5px; */
  border-radius: 30px;
}


/* .flipbook .cover-back {
  background: #2c92e6; */
  /* box-shadow: inset -15px 0px 10px -4px rgb(0, 0, 0, 0.7); */
/* } */


.flipbook h2 {
  font-size: 50px;
  color: #781378;
  position: relative;
  top: 8%;
}



.flipbook .page img {
  max-width: 10%;
  max-height: 100%;
}

#flipbook.visible {
  box-shadow: 11px 11px 20px 0px #888888;
}

/* Add animation for moving flipbook to the right */
/* .flipbook.move-right {
  margin-left: 270px; */
  /* Adjust this value as needed */
  /* transform: translate(50%); */
  /* Move to the right */
  /* transition: margin-left 1s ease, transform 1s ease; */
  /* Add transition effect */
/* } */



/* .flipbook.move-left {
  margin-right: 50%; Adjust this value as needed 
  transform: translate(50%);  Move to the right 
  transition: margin-left 1s ease, transform 1s ease; Add transition effect 
}*/

/* .flipbook-back {

  transition: margin-left 0.25s ease-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 800px;
  margin-top: 5%;
  width: 1800px;
  height: 1500px;

} */