<div class="page5">
  <p id="rate-experience">Would you like to rate overall experience?</p>
  <div id="emojis">
    <input type="radio" id="emoji1" name="emoji" value="1">
    <label for="emoji1"></label>
    <input type="radio" id="emoji2" name="emoji" value="2">
    <label for="emoji2"></label>
    <input type="radio" id="emoji3" name="emoji" value="3">
    <label for="emoji3"></label>
    <input type="radio" id="emoji4" name="emoji" value="4">
    <label for="emoji4"></label>
    <input type="radio" id="emoji5" name="emoji" value="5">
    <label for="emoji5"></label>
  </div>
  <div id="comment-box-container">
    <textarea id="comment-box" placeholder="Write additional comments here..." [(ngModel)]="comment"
      (input)="handleCommentInput($event)"></textarea>
  </div>
  <button id="submit-btn" (click)="feedbacksubmit()">I'm Done</button>
</div>