.page5 {
  background-image: url('../../assets/images/newfifth.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 79vh;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: 4px solid #ffffff61;
  border-right: 4px solid #ffffff61;
  border-bottom: 4px solid #ffffff61;
  overflow: hidden;
}

#rate-experience {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 49px;
  font-size: 43px;
  color: #DADADA;
  background-color: transparent;
  text-align: center;
  line-height: 49px;
}

#emojis {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(84px* 5 + 99.04px* 4);
  display: flex;
  justify-content: space-between;
  gap: 66.04px;
}

#emojis input[type="radio"] {
  display: none;
}

#emojis label {
  width: 110px;
  height: 110px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#emoji1+label {
  background-image: url('../../assets/emojis/e1.png');
}

#emoji2+label {
  background-image: url('../../assets/emojis/e2.png');
}

#emoji3+label {
  background-image: url('../../assets/emojis/e3.png');
}

#emoji4+label {
  background-image: url('../../assets/emojis/e4.png');
}

#emoji5+label {
  background-image: url('../../assets/emojis/e5.png');
}

#emoji1:checked+label {
  background-image: url('../../assets/emojis/e11.png');
}

#emoji2:checked+label {
  background-image: url('../../assets/emojis/e22.png');
}

#emoji3:checked+label {
  background-image: url('../../assets/emojis/e33.png');
}

#emoji4:checked+label {
  background-image: url('../../assets/emojis/e44.png');
}

#emoji5:checked+label {
  background-image: url('../../assets/emojis/e55.png');
}

#comment-box-container {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  width: 810px;
}

#comment-box {
  width: 100%;
  height: 230px;
  border: 3px dotted #DADADA;
  background-color: transparent;
  color: #DADADA;
  padding: 20px;
  font-size: 36px;
  box-sizing: border-box;
  resize: none;
  border-radius: 15px;
  margin-top: 100px;
}

#comment-box::placeholder {
  color: #DADADA;
  font-size: 36px;
}

#submit-btn {
  width: 225px;
  height: 70px;
  background-color: #A5A3A3;
  color: #DADADA;
  font-size: 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin-top: 920px;
  margin-left: 410px;
}