.background-container {
    display:flex;
    height: 1500px;
    width: 900px;
    border: none;
    padding: 0%;
    margin: 0%;
    background-color: black;
    background-image: url("../../assets/images/Group18941_right.png"); 
    background-repeat: no-repeat;
    background-size: cover;



    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;

  }
  .icons img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.container {
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 10px;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* .icons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 125px;
}

.icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
   
} */

textarea {
    
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px dotted #777;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;
}

button {
    margin-top: 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    width: 150px;
    height: 50px;
}


.icons {
    font-size: 50px; /* Adjust font size as needed */
}

.icons span {
    font-size: 50px;
    cursor: pointer;
    color: #ccc; /* Default grey color */
    display: inline-block;
    margin-right: 40px;
    transition: color 0.2s; /* Smooth transition effect */
}

.icons span.selected {
    color: #ffc107; /* Colorful when selected */
    display: inline-block;
    border: 2px solid white; 
}

/* .icons span { */
    /* font-size: 50px;  */
    /* Adjust the size of emojis */
    /* cursor: pointer;  */
    /* Show pointer cursor on hover */
    /* margin-right: 40px;
    display: inline-block;
  } */
  
  /* Example: Change color on hover */
  .icons span:hover {
    color: #ffc107;
  }

  /* .selected {
    display: inline-block;
    border: 2px solid white; 
    border-radius: 10px; 
    padding: 5px; 
    margin-right: 10px; 
  }
  */


  /* Modal Container */
.modal {
    position: fixed;
    margin-left: 800px;
    margin-top: 500px;
    /* top: 0;
    left: 0; */
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  }
  
  /* Modal Content */
  .modal-content {
    align-items: center;
    background-color: white;
    padding: 280px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* shadow effect */
    /* font-size: 100px; */
  }
  
  .modal-content button {
    width: 300px;
    margin-left: 70px;
  }

  h2{
    font-size: 30px;
    white-space: nowrap; /* Ensure text appears in a single line */
  overflow: hidden; /* Hide any overflow text */
  text-overflow: ellipsis; 
  }
 