.thirdmain {
  display: flex;
  height: 79vh;
  background-image: url("../../assets/images/second_right.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top: 4px solid #ffffff61;
  border-right: 4px solid #ffffff61;
  border-bottom: 4px solid #ffffff61;
  overflow: hidden;
}

.heading {
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  height: 170px;
  width: 893px;
  margin-left: 100px;
}

.mainbody {
  border-radius: 5px;
  margin-top: 260px;
}

.mainbody .demo-container {
  width: 1000px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 55px;
  border-bottom: 1px solid #ccc;
}

.mainbody .demo-container .demo-box {
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 300px;
  max-width: 100%;
  background-color: #494949;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.demo-pic {
  background-image: url("../../assets/images/image1.jpg");
  width: 900px;
  height: 220px;
  margin-left: 25px;
  border-radius: 20px;
  background-size: cover;
}