.thirdmain {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  height: 79vh;
  /* height: 1500px;
    width: 900px; */
  /* border: none;
    padding: 0%;
    margin: 0%; */
  /* background-color: black; */
  background-image: url("../../assets/images/second_right.png");
  background-repeat: no-repeat;
  background-size: cover;
   /* added here */
   /* border-radius: 30px; */
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top: 4px solid #ffffff61;
   border-right: 4px solid #ffffff61;
   border-bottom: 4px solid #ffffff61;
   overflow: hidden;
}

.heading {
  position: absolute;
  /* background-color: #f0f0f0;  example background color */
  padding: 20px;
  border-radius: 5px;
  height: 170px;
  width: 893px;
  margin-left: 100px;
}

.mainbody {
  /* Add your styles here */
  /* background-color: #09d3ea; example background color */
  /* padding: 20px; */
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  margin-top: 260px;
  /* margin-left: -135px; */
}

/* Style for the demo-container div */
.mainbody .demo-container {
  width: 1000px;
  height: 300px;
  /* margin-left: 95px; */
  margin-top: 40px;
  /* Adjust margin top for spacing between containers */
  margin-bottom: 55px;
  /* Maintain margin-bottom from original styles */
  /* padding: 20px; */
  border-bottom: 1px solid #ccc;
  /* Maintain border-bottom from original styles */
}

/* Style for the demo-box div */
.mainbody .demo-container .demo-box {
  flex-direction: column;
  /* Stack elements vertically */
  align-items: center;
  padding: 40px;
  /* width: 800px; */
  height: 300px;
  max-width: 100%;
  /* Adjust to make responsive */
  background-color: #494949;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* Add box shadow for depth */
}


.demo-pic {
  background-image: url("../../assets/images/image1.jpg");
  width: 900px;
  height: 220px;
  margin-left: 25px;
  border-radius: 20px;
  background-size: cover;
}