<div class="thirdmain">

    <div class="heading">
        </div>
    <div *ngIf="selectedFeedback" class="mainbody">
        
        <form>
            <div *ngFor="let demo of selectedFeedback?.demo_details; let demoIndex = index" class="demo-container">
                <div class="demo-box">
                    <div class="demo-pic">
                        
                    </div>
                    <!-- <img src="../../assets/images/image1.jpg" > -->
                </div>
            </div>
        </form>
         <!-- <div class="demo-image">
          <img src="/flipbook/src/assets/images/image1.jpg">
         </div> -->
    </div>
    
</div>
