.thirdmain{
  align-items: center;
  justify-content: center;
    display:flex;
    height: 100vh;
    /* height: 1500px;
    width: 900px; */
    /* border: none;
    padding: 0%;
    margin: 0%; */
    background-color: black;
    background-image: url("../../assets/images/second_right.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    }
    .somespace{
        /* margin-bottom: 155px; */
        /* margin-left: -200px; */
        margin-top: -275px;
    }
    .demo-container {
        width: 950px;
        height: 300px;
        margin-left: -20px;
        margin-top: 20px; /* Adjust margin top for spacing between containers */
        padding: 20px;
      }
      
      .demo-box {
       
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center;
        padding: 40px;
        width: 800px; 
        height: 300px;
        max-width: 100%; /* Adjust to make responsive */
        background-color: white;
        /* border-radius: 20px; */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
      }
    
    .demo-box img {
        /* max-width: 100%;
        max-height: 100%; */
    
        width: 650px;
        height: 220px;
        /* object-fit: contain; */
         /* Ensure the image fits within the container */
        border-radius: 20px; /* Optionally round the corners of the image */
    }

    .demo-pic{
      background-image: url("../../assets/images/image1.jpg"); 
      width: 650px;
        height: 220px;
        border-radius: 20px;
        background-size: cover;
    }