<!-- component-front-cover-page.component.html -->
<div class="feedback-container" >
 
  
  <div class="img-container">
  <!-- <img class="temp" src="../../assets/images/Group 18997.png" alt="alternatetext"> -->
  <!-- <h2>Feedback Page</h2> -->

  <div class="clientCard">
    <!-- <div class="clientCardName"><h1>{{recievedClientName}}</h1></div> -->
    <div *ngIf="recievedClientName" class="clientCardName">
      <p>{{ recievedClientName }}</p>
    </div>
    <br/>
    <div class="clientCardDate" >
      <h1 style="
      margin-left: 250px;
      padding: 20px;
      width: 500px;
      color: white;">26-MAY-2024</h1>
    </div>
  </div>

  



  <div class="button-container">
    <!-- <ng-container *ngIf="filteredData.length === 0; else feedbackList">
      <p>{{ currentVisitStatus }}</p>
    </ng-container> -->

    <!-- <ng-template #feedbackList>
      <button
        *ngFor="let item of filteredData"
        class="custom-button"
        [class.selected]="isButtonSelected(item.client_name)"
        (click)="handleButtonClick(item.client_name)"
      >
        {{ item.client_name }} - {{ item.visit_date | date: 'mediumTime' }}
      </button>
    </ng-template> -->
    <div *ngIf="recievedClientName">
      
      <div *ngFor="let visitor of visitorDetails">
        <button>{{ visitor.visitor_name }}</button>
      </div>
    </div>
  </div>
</div>
</div>
