<!-- component-front-cover-page.component.html -->
<div class="feedback-container" >
 
  
  <div class="img-container">
  <!-- <img class="temp" src="../../assets/images/Group 18997.png" alt="alternatetext"> -->
  <!-- <h2>Feedback Page</h2> -->

  <div class="clientCard">
    <!-- <div class="clientCardName"><h1>{{recievedClientName}}</h1></div> -->
    <div *ngIf="recievedClientName" class="clientCardName">
      <p><b>{{ recievedClientName }}</b></p>
    </div>
    <br/>
    <div class="clientCardDate" >
      <h1 style="
      margin-left: 250px;
      padding: 20px;
      width: 500px;
      color: white;">{{ currentDate }}</h1>
    </div>
  </div>

  



  <div class="button-container">
    
    <!-- <div *ngIf="recievedClientName">
      
      <div *ngFor="let visitor of visitorDetails">
        <button class="visitorButton"  
        [class.selected]="isVisitorSelected(visitor.visitor_name)"
        (click)="handleVisitorSelection(visitor.visitor_name)">
        {{ visitor.visitor_name }}
        </button>
      </div>
      
    </div> -->
    <div *ngIf="recievedClientName">
      <div class="name-section">
          <ng-container *ngFor="let visitor of visitorDetails; let i = index">
              <div class="name-card" [ngClass]="{'single-client': visitorDetails.length <= 3 && i === visitorDetails.length - 1}">
                  <button class="visitorButton"  
                      [class.selected]="isVisitorSelected(visitor.visitor_name)"
                      (click)="handleVisitorSelection(visitor.visitor_name)">
                      <span class="visitorName">{{ visitor.visitor_name }}</span>
                  </button>
              </div>
          </ng-container>
      </div>
  </div>
  
  
  </div>
</div>
</div>
