.page, .hard {
  width: 1100px;
  height: 1440px;
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.hard {
  background: #333;
  color: white;
  font-weight: bold;
  transform-origin: left top;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.page1 {
  background-image: url('../../assets/img/page1.png');
  background-size: 1098px 1529px;
  background-repeat: no-repeat;
}

#logo-container {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visitor-book-logo {
  width: 100%;
  height: 100%;
}

#name-date-container {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 100px;
  background-color: rgba(13, 45, 85, 0.6);
  border: 1px solid #0D2D55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

#name {
  font-size: 48px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

#date {
  font-size: 24px;
  color: white;
  white-space: nowrap;
  font-weight: normal;
}

#visitor-selection-container {
  position: absolute;
  top: 600px; /* Adjusted to position below the updated name-date-container */
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 452px;
  background-color: rgba(13, 45, 85, 0.6);
  padding-left: 20px;
  border-radius: 10px;
}

#select-visitor-heading {
  color: white;
  font-size: 35px;
  font-weight: lighter;
  width: 300px;
  height: 50px;
  padding-top: 32px;
  padding-bottom: 50px;
  padding-left: 16px;
}

#visitor-list {
  max-height: 305px;
  overflow-y: scroll;
}

.visitor-button {
  width: 500px;
  height: 61.16px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 1px;
  border-bottom: 0.5px solid #C9FBFF;
}

.visitor-button:active {
  background-color: #237286a1;
}

.visitor-button.selected {
  background-color: #237386;
}

#visitor-list::-webkit-scrollbar {
  display: none;
}

.visitor-button:last-child {
  border-bottom: none;
}

.visitor-name,
.visitor-designation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 32px;
}