.temp{
  height: 100%;
  width: 100%
}


  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 42%;
  }
  
  .feedback-container{
    
    display:flex;
    height:100%;
    width:100%;
    background-color: black;

  }
  .img-container{
    background-image: url("../../assets/images/Group 18997.png");
    background-size: cover;
    height: 104%;
    width: 100%;

  }
  
.custom-button {
  
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.custom-button.selected {
  background-color: #e4f70f; /* Change the background color for selected button */
}

.custom-button:hover {
  background-color: #e4f70f;
}

.clientCard {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40%;
  height: 15%;
  border-radius: 7%;
  background-color: white;
  overflow: hidden;
}
.clientCardName{
  display: block;
  position: absolute;
  top: 25%;
  width: 100%;
  /* transform: translateY(-50%); */
  font-size: 50px;
  font-style: normal;
  text-align: center;
  justify-content: center;
}
.clientCardDate{
    background-color: black;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

.visitorButton{
  padding: 10px;
  background-color: white;
  text-decoration-color: black;
  text-align: center;
  width: 300%;
  border-radius: 20px;
  margin-top: 5px;

}
