.temp{
  height: 100%;
  width: 100%
}


  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feedback-container{
    
    display:flex;
    height:100%;
    width:100%;
    background-color: black;

  }
  .img-container{
    background-image: url("../../assets/images/Group 18997.png");
    background-size: cover;
    height: 104%;
    width: 100%;

  }
  
.custom-button {
  
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.custom-button.selected {
  background-color: #e4f70f; /* Change the background color for selected button */
}

.custom-button:hover {
  background-color: #e4f70f;
}

  