.temp{
  height: 100%;
  width: 100%
}
  
  .feedback-container{
    
    display:flex;
    height:100%;
    width:100%;
    background-color: #eee;

  }
  .img-container{
    background-image: url("../../assets/images/Group 18997.png");
    background-size: cover;
    height: 1436.35px;
    width: 100%;

  }
  
.custom-button {
  
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.custom-button.selected {
  background-color: #e4f70f; /* Change the background color for selected button */
}

.custom-button:hover {
  background-color: #e4f70f;
}

.clientCard {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40%;
  height: 15%;
  border-radius: 7%;
  background-color: white;
  overflow: hidden;
}
.clientCardName{
  display: block;
  position: absolute;
  top: 25%;
  width: 100%;
  /* transform: translateY(-50%); */
  font-size: 50px;
  font-style: normal;
  text-align: center;
  justify-content: center;
}
.clientCardDate{
    background-color: black;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

/* .visitorButton {
  padding: 10px; */
   /* Adds padding around the button text */
  /* background-color: white; */
   /* Sets the background color of the button */
  /* color: black;  */
  /* Sets the text color of the button */
  /* text-align: center; */
   /* Centers the text horizontally within the button */
  /* width: 300px;  */
  /* Sets the width of the button */
  /* border-radius: 20px; */
   /* Adds rounded corners to the button */
  /* margin-top: 5px;  */
  /* Adds margin at the top of the button */
  /* border: 1px solid black;  */
  /* Adds a solid border around the button */
  /* cursor: pointer;  */
  /* Changes cursor to pointer on hover */
/* } */

/* .visitorButton.selected { */
  /* background-color: #007bff;  */
  /* Change background color when selected */
  /* color: #fff;  */
  /* Change text color when selected */
  /* border-color: #007bff; */
   /* Change border color when selected */
/* } */


 .button-container {
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .name-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name-card {
    width: calc(33.33% - 10px); /* Adjust the width as needed for 3 buttons */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.visitorButton {
    display: block;
    width: 100%; /* Allow button width to take full width of parent */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px 15px; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent line breaks within button */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    border-radius: 50px; /* Adjust the border-radius to make it semi-circle */
    margin-right: 10px; /* Add margin between buttons */
    margin-left: 10px; /* Add margin between buttons */
}

.visitorName {
    font-weight: bold; /* Make client name bold */
    font-size: 24px; /* Increase font size to cover button space */
    padding: 5px 0; /* Add padding to client name */
}

.visitorButton:hover {
    background-color: blue;
}

.selected {
    background-color: blue;
    color: white;
}
